<section class="widget outlook">
  <h3>Team Outlook</h3>
  <div class="widget-content">
    <section>
      <mat-checkbox>Custom Checkbox</mat-checkbox>
    </section>
  </div>
</section>

<section class="widget">
  <h3>Monthly Distribution</h3>
  <div class="widget-content">
    <section>
      <mat-checkbox>Custom Checkbox</mat-checkbox>
    </section>
  </div>
</section>

<div class="home-columns">
  <section class="widget">
    <h3>Workload Evolution</h3>
    <div class="widget-content">
      <section></section>
      <button mat-flat-button class="widget-button">SEE ALL</button>
    </div>
  </section>

  <section class="widget">
    <h3>Subcontracting Breakdown</h3>
    <div class="widget-content">
      <section>
        <mat-checkbox>Custom Checkbox</mat-checkbox>
      </section>
      <button mat-flat-button class="widget-button">SEE ALL</button>
    </div>
  </section>
</div>
